body{
    background-image: url("laptop.jpeg");
    background-size: cover;
    color: antiquewhite;
    display: flexbox;
}
a:visited{
    color: antiquewhite;
}
a:active{
    color: rgb(19, 122, 10);
}
a:link{
    color: antiquewhite;
}
a:hover{
    background-color: rgb(7, 29, 29);
    opacity: 0.8;
}
.custom3{
    text-align: center;
    font-size: xxx-large;
    background-color: rgb(16, 63, 57);
    border: 10px solid rgb(187, 185, 185);
    opacity: 0.8;
    border-radius: 5px;
    margin-top: 0%;  
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.focus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.focus1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 10px solid rgb(187, 185, 185);
    background-color: rgb(26, 42, 75);
    border-radius: 5px;
    opacity: 0.8;
}
.focus2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 10px solid rgb(187, 185, 185);
    background-color: rgb(26, 42, 75);
    border-radius: 5px;
    opacity: 0.8;
}
.custom2{
    display: flex;
    justify-content: space-evenly;
    padding-left: 65%;
    background-color: rgb(26, 42, 75);
    border: 10px solid rgb(187, 185, 185);
    opacity: 0.8;
    border-radius: 5px;
    border-bottom: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.sets{
    text-align: center;
    background-color: rgb(26, 42, 75);
    border: 10px solid rgb(187, 185, 185);
    opacity: 0.8;
    border-radius: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    padding: 10px;
}
.mid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;

}
.mid2{
    background-color: rgb(26, 42, 75);
    border: 10px solid rgb(187, 185, 185);
    opacity: 0.8;
    border-radius: 0px;
    padding: 10px;
    
}
.mid3{
    background-color: rgb(16, 63, 57);
    border: 10px solid rgb(187, 185, 185);
    border-radius: 5px;
    opacity: 0.8;
    padding: 10px;
    border-right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.mid4{
    background-color: rgb(16, 63, 57);
    border: 10px solid rgb(187, 185, 185);
    opacity: 0.8;
    border-radius: 5px;
    padding: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
    
}
.mid4 li{
    font-size: large;
    padding-right: 120px;
}