body{
    background-image: url("laptop.jpeg");
    background-size: cover;
    color: antiquewhite;
    display: flexbox;
}
a:visited{
    color: antiquewhite;
}
a:active{
    color: rgb(19, 122, 10);
}
a:link{
    color: antiquewhite;
}
.custom3{
    text-align: center;
    font-size: xxx-large;
    
}
.focus{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.focus1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 10px solid rgb(187, 185, 185);
    background-color: grey;
    border-radius: 5px;
}
.focus2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 10px solid rgb(187, 185, 185);
    background-color: grey;
    border-radius: 5px;
}