body{
    background-image: url("laptop.jpeg");
    background-size: cover;
    color: antiquewhite;
    display: flexbox;
}
a:visited{
    color: antiquewhite;
}
a:active{
    color: rgb(19, 122, 10);
}
a:link{
    color: antiquewhite;
}
.custom3{
    text-align: center;
    font-size: xxx-large;
    
}